body {
    font-family:Garamond;
    background-color: #a53333;
}
h1 {
    text-align: center;
    font-size: 300%;
    font-weight: bold;
}
h3 {
    text-align: center;
    font-size: 200%;
    font-weight: bold;
    border-bottom: 2px solid black;
}
#name {

    color:black;
}
.Heading {
    padding: 2px 16px;
}

.tab {
    overflow: hidden;
    border: 2px solid maroon;
    background-color: whitesmoke;
    align-content: center;
}

    .tab button {
        background-color: inherit;
        float: none;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
        font-size: 24px;
    }

        .tab button:hover {
            background-color: #ddd;
        }

        .tab button.active {
            background-color: #ccc;
        }

.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
}

.box1 {
    float: left;
    transition: 0.3s;
    display: inline-block;
    width: 31%;
    height: inherit;
    background-color: whitesmoke;
    margin: 12px 12px;
    align-content: center;
    border-style: solid;
    border-width: 5px;
    border-color: maroon;
}
.box2 {
    float: left;
    transition: 0.3s;
    display: inline-block;
    width: 31.5%;
    height: 500px;
    background-color: whitesmoke;
    margin: 12px 12px;
    align-content: center;
}

img {
    padding: 2%;
    margin: 140px;
    margin-top: -10px;
    margin-bottom:inherit;
    background-color: #a53333;
    width: 30%;
    border-bottom: 2px solid black;
    height: 30%;
}
h2 {
    margin-left:20px;
    margin-right:20px;
    border-bottom:2px solid black;
}
p {
    margin-left: 20px;
    margin-right: 20px;
    border: 2px solid black;
    font-size: 120%;
    margin-bottom: 20px;
    color: darkslategrey;

}
